<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3GxbWZdeDquIG0u0gHHZpuGbOfCzQho0</string>
	<key>GCM_SENDER_ID</key>
	<string>314969755409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Wellbeing-Vantage.AI-Birthday-calendar</string>
	<key>PROJECT_ID</key>
	<string>ai-birthday-calendar</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-birthday-calendar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314969755409:ios:38f82eeeec4de23ae806b0</string>
</dict>
</plist>